<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suly Cinema | Admin Panel</title>
    <link rel="stylesheet" href="../admin.css" />
</head>

<body>
    <header>
        <div class="logo">Suly Cinema Admin</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main class="admin-panel">
        <h1>Admin Control Panel</h1>

        <div class="admin-actions">
            <button onclick="window.location.href='/admin/add-movie'">Add Movie</button>
            <button onclick="window.location.href='delete-movie.html'">Delete Movie</button>
        </div>
    </main>
</body>

</html>